.header{
  width: 100%;
  top: 0;
  background-color: white;
  padding: 25px;
  box-shadow: 0px 2px 5px rgb(0,0,0,0.1);
  z-index: 1000;
}
body,html{
  margin: 0;
  padding:0;
}
.footer{
  background-color: blue;
  padding:50px;
}
.home{
  width: 100%;
  height: 100%;
  background-color:green;
}