.header{
  width: 100%;
  height: 50px;
  top: 0;
  background-color: white;
  padding:7px 6px 30px;

  box-shadow: 0px 2px 5px rgb(0,0,0,0.1);
  z-index: 1000;
  box-sizing: border-box;

}
body,html{
  margin: 0;
  padding:0;
}
.footer{
  background-color: blue;
  padding:50px;
}
.home{
  width: 100%;
  height: 100%;
  background-color:green;
}
.btn{
  color: white;
  background-color: blue;
  border: 1px solid black;
  border-radius: 8px;
  width: 150px;
  padding:6px;  
  font-weight: bold;
  transition: 0.2s ease-in ;
}
.btn:hover{
  background-color: rgb(3, 6, 148);
}